<mat-card *ngIf="!overviewMode">
  <mat-accordion>


    <!--    <mat-expansion-panel fxLayout="column" expanded="true" (opened)="panelOpenState=true"-->
    <!--                         (closed)="panelOpenState=false">-->
    <!--      <mat-expansion-panel-header>-->
    <!--        <mat-panel-title>-->
    <!--          Erweiterte Einstellungen-->
    <!--        </mat-panel-title>-->
    <!--        <mat-panel-description>-->
    <!--        </mat-panel-description>-->
    <!--      </mat-expansion-panel-header>-->

    <div class="date-selector">

      <form [formGroup]="myForm" (ngSubmit)="onMyFormSubmit()">

        <div fxLayout.xs="column" fxLayout.gt-xs="row" fxFill>
          <div fxLayout.gt-xs="row">
            <mat-form-field class="smallFormElement" appearance="fill">
              <mat-label>von</mat-label>
              <input matInput (click)="customFromDate.open()" [matDatepicker]="customFromDate"
                     formControlName="customFromDate">
              <mat-datepicker-toggle matSuffix [for]="customFromDate"></mat-datepicker-toggle>
              <mat-datepicker #customFromDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="smallFormElement" appearance="fill">
              <mat-label>Zeit (Stunde)</mat-label>
              <input matInput type="number" formControlName="customFromDateTimePart">
            </mat-form-field>

            <div style="width: 1em"></div>
          </div>

          <div fxShow.gt-sm style="width: 25px"></div>

          <div fxLayout.gt-xs="row">
            <mat-form-field class="smallFormElement" appearance="fill">
              <mat-label>bis</mat-label>
              <input autocomplete="off" matInput [matDatepicker]="customToDate" formControlName="customToDate">
              <mat-datepicker-toggle matSuffix [for]="customToDate"></mat-datepicker-toggle>
              <mat-datepicker #customToDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="smallFormElement" appearance="fill">
              <mat-label>Zeit (Stunde)</mat-label>
              <input matInput type="number" formControlName="customToDateTimePart">
            </mat-form-field>
          </div>
        </div>

        <div class="example-label-container">
          <label id="example-name-label" class="example-name-label">Anzahl Datenpunkte</label>

          <label class="example-value-label">
            {{myForm.value.chartDataPoints}}
            <span *ngIf="myForm.value['intervalAutoMatching']"> ~ {{autoSelectedInterval.name}} </span>
          </label>
        </div>

        <mat-slider
          formControlName="chartDataPoints"
          class="mySlider"
          max="3000"
          min="1"
          step="1"
          thumbLabel="true"
          aria-labelledby="example-name-label">
        </mat-slider>

        <mat-checkbox formControlName="intervalAutoMatching">Interval auto matching</mat-checkbox>

      </form>

    </div>

    <button mat-raised-button color="primary" (click)="myReload()" [disabled]="loading">Anwenden</button>

    <!--    </mat-expansion-panel>-->


  </mat-accordion>
</mat-card>


<mat-card>
  <mat-card-subtitle>Boiler Temperatur (°C)</mat-card-subtitle>
  <mat-card-content>
    <div class="chartItem">
      <highcharts-chart
        [Highcharts]="highcharts"
        [options]="chartOptionsBoilerAverageTemp"
        [(update)]="chartUpdateFlag"
        [class.myLoading]="loading"
        class="chartStyle">
      </highcharts-chart>
      <mat-spinner
        *ngIf="loading"
        color="accent"
        class="myLoadingSpinner"></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>

<div *ngIf="!overviewMode">
  <mat-card>
    <mat-card-subtitle>Boiler Temperatur-Unterschied (°C)</mat-card-subtitle>
    <mat-card-content>
      <div class="chartItem">
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsBoilerDeltaTemp"
          [(update)]="chartUpdateFlag"
          [class.myLoading]="loading"
          class="chartStyle">
        </highcharts-chart>
        <mat-spinner
          *ngIf="loading"
          color="accent"
          class="myLoadingSpinner"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Boiler Statistik nach Stunden</mat-card-subtitle>
    <mat-card-content>
      <div class="chartHint mat-caption">
        Hinweis: Die Grafik zeigt, zu welcher Stunde des Tages der Boiler am stärksten gebraucht wurde.
        Diese Statistik funktioniert am besten über einen grösseren Zeitraum von mehereren Tagen.<br>
        Anzahl Datenpunkte: {{boilerStatsByHourNumberOfStaticsRecords | number:'':'de-CH'}}
      </div>
      <div class="chartItem">
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsBoilerStatsByHour"
          [(update)]="chartUpdateFlagBoilerStatsByHour"
          [class.myLoading]="loadingBoilerByHour"
          class="chartStyle">
        </highcharts-chart>
        <mat-spinner
          *ngIf="loading"
          color="accent"
          class="myLoadingSpinner"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Boiler Statistik nach Wochentag</mat-card-subtitle>
    <mat-card-content>
      <div class="chartHint mat-caption">
        Hinweis: Die Grafik zeigt, an welchem Wochentag der Boiler am stärksten gebraucht wurde.
        Diese Statistik funktioniert am besten über einen grösseren Zeitraum von mehereren Tagen.<br>
        Anzahl Datenpunkte: {{boilerStatsByDayOfWeekNumberOfStaticsRecords | number:'':'de-CH'}}
      </div>
      <div class="chartItem">
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsBoilerStatsByDayOfWeek"
          [(update)]="chartUpdateFlagBoilerStatsByDayOfWeek"
          [class.myLoading]="loadingBoilerByDayOfWeek"
          class="chartStyle">
        </highcharts-chart>
        <mat-spinner
          *ngIf="loading"
          color="accent"
          class="myLoadingSpinner"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-subtitle>Sole Temperatur (Eintritt/Austritt) (°C)</mat-card-subtitle>
    <mat-card-content>
      <div class="chartItem">
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsSoleTemp"
          [(update)]="chartUpdateFlag"
          [class.myLoading]="loading"
          class="chartStyle">
        </highcharts-chart>
        <mat-spinner
          *ngIf="loading"
          color="accent"
          class="myLoadingSpinner"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Sole Temperatur-Unterschied zwischen Eintritt/Austritt (°C)</mat-card-subtitle>
    <div class="chartHint mat-caption">
      Hinweis: Bitte auch nächstes Diagram beachten.
    </div>
    <mat-card-content>
      <div class="chartItem">
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsSoleDeltaTemp"
          [(update)]="chartUpdateFlag"
          [class.myLoading]="loading"
          class="chartStyle">
        </highcharts-chart>
        <mat-spinner
          *ngIf="loading"
          color="accent"
          class="myLoadingSpinner"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Sole Temperatur-Unterschied zwischen Eintritt/Austritt bei Betrieb(°C)</mat-card-subtitle>
    <mat-card-content>
      <div class="chartHint mat-caption">
        Dieser Chart zeigt den Sole Temperatur-Unterschied ausschliesslich nachdem der Kompressor mindestens drei Minuten läuft.
        Damit erhält man die reine Sicht auf die Sole und eliminiert das Rauschen bei Nichtbetrieb (Angleich an Umgebungstemperatur).
      </div>
      <div class="chartItem">
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsSoleDeltaTempInOperation"
          [(update)]="chartUpdateFlagSoleDeltaTempInOperation"
          [class.myLoading]="loading"
          class="chartStyle">
        </highcharts-chart>
        <mat-spinner
          *ngIf="loading"
          color="accent"
          class="myLoadingSpinner"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Heizung Temperatur (Vor-/Rücklauf) (°C)</mat-card-subtitle>
    <mat-card-content>
      <div class="chartItem">
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsHeatingTemp"
          [(update)]="chartUpdateFlag"
          [class.myLoading]="loading"
          class="chartStyle">
        </highcharts-chart>
        <mat-spinner
          *ngIf="loading"
          color="accent"
          class="myLoadingSpinner"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Heizung Temperatur-Unterschied zwischen Vor-/Rücklauf (°C)</mat-card-subtitle>
    <mat-card-content>
      <div class="chartItem">
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsHeatingDeltaTemp"
          [(update)]="chartUpdateFlag"
          [class.myLoading]="loading"
          class="chartStyle">
        </highcharts-chart>
        <mat-spinner
          *ngIf="loading"
          color="accent"
          class="myLoadingSpinner"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Kompressor Stunden (h)</mat-card-subtitle>
    <mat-card-content>
      <div class="chartItem">
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsCompressorHours"
          [(update)]="chartUpdateFlag"
          [class.myLoading]="loading"
          class="chartStyle">
        </highcharts-chart>
        <mat-spinner
          *ngIf="loading"
          color="accent"
          class="myLoadingSpinner"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Operation-Chart</mat-card-subtitle>
    <mat-card-content>
      <div class="chartItem">
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsOperationsChart"
          [(update)]="chartUpdateFlag"
          [class.myLoading]="loading"
          [callbackFunction]="operationsChartCallback"
          class="chartStyle">
        </highcharts-chart>
        <mat-spinner
          *ngIf="loading"
          color="accent"
          class="myLoadingSpinner"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-subtitle>Aussen-Temperatur (°C)</mat-card-subtitle>
    <mat-card-content>
      <div class="chartItem">
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsOutdoorTemperature"
          [(update)]="chartUpdateFlag"
          [class.myLoading]="loading"
          class="chartStyle">
        </highcharts-chart>
        <mat-spinner
          *ngIf="loading"
          color="accent"
          class="myLoadingSpinner"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Windböen: Meteo-Schweiz Kloten (km/h)</mat-card-subtitle>
    <mat-card-content>
      <div class="chartItem">
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsWindGustMeteo"
          [(update)]="chartUpdateFlag"
          [class.myLoading]="loading"
          class="chartStyle">
        </highcharts-chart>
        <mat-spinner
          *ngIf="loading"
          color="accent"
          class="myLoadingSpinner"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>

</div>



